# Python
__pycache__/
*.py[cod]
.env
.venv/
venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Data & Models (Keep these local!)
data/raw/*
data/processed/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

# IDEs
.vscode/
.idea/